<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ITS_Json_Information</title>
    </head>
    <body>
        <script>
            var ksum=0;
            var dsum=0;
            var asum=0;
            var win_sum=0;
            var lose_sum=0;
            var krate,drate,arate;
            var game_sum=0;

            function calc_rate(){
                krate=ksum/game_sum;
                drate=dsum/game_sum;
                arate=dsum/game_sum;
            }

            function print_sum(){
                var elm = document.getElementById('result_sum')
                elm.innerHTML="<p>キル数:"+ksum+" デス数:"+dsum+" アシスト数:"+asum+"</p>";
                elm.innerHTML+="<p>キルレート:"+krate.toFixed(1)+"% デスレート:"+drate.toFixed(1)+"% アシストレート:"+arate.toFixed(1)+"%</p>";
                
            }
        </script>
        <p>{{df[124]['data']['vsHistoryDetail']['myTeam']['players'][2]['name']}}'s Buttle Result</p>
        <p id="result_sum">Hello</p>
        
        {% for result in df %}
        
            <p>team member</p>
            {% for i in result['data']['vsHistoryDetail']['myTeam']['players'] %}
                
                <p>{{i['byname']}} {{i['name']}}:{{i['weapon']['name']}}</p>
                <p>{{i['result']['kill']}}キル {{i['result']['death']}}デス {{i['result']['assist']}}アシスト</p>
                <script>
                    
                    function sum_result(){
                        game_sum+=1;
                        ksum += {{i['result']['kill']}};
                        dsum += {{i['result']['death']}};
                        asum += {{i['result']['assist']}};
                        

                        
                    }

                    sum_result();
                </script>
            
            {% endfor %}
            <p>Mode:{{result['data']['vsHistoryDetail']['vsMode']['mode']}} Rule:{{result['data']['vsHistoryDetail']['vsRule']['name']}} Stage:{{result['data']['vsHistoryDetail']['vsStage']['name']}}</p>
            
            <p><img src="{{result['data']['vsHistoryDetail']['vsStage']['image']['url']}}"></p>

            <p>Judgement:{{result['data']['vsHistoryDetail']['myTeam']['judgement']}}</p>
            
        
            <hr>
        {% endfor %}

        <script>
            
            calc_rate();
            
            print_sum();    
        </script>
    </body>
</html>