<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ITS_勝率</title>
</head>
<body>
    <script>
        

        var win_count=[0,0,0,0];
        var lose_count=[0,0,0,0];

        var kill_count_win=[0,0,0,0];
        var kill_count_lose=[0,0,0,0];
        var assist_count_win=[0,0,0,0];
        var assist_count_lose=[0,0,0,0];
        var death_count_win=[0,0,0,0];
        var death_count_lose=[0,0,0,0];

        var kill_average_all=[0,0,0,0];
        var kill_average_win=[0,0,0,0];
        var kill_average_lose=[0,0,0,0];
        var assist_average_all=[0,0,0,0];
        var assist_average_win=[0,0,0,0];
        var assist_average_lose=[0,0,0,0];
        var death_average_all=[0,0,0,0];
        var death_average_win=[0,0,0,0];
        var death_average_lose=[0,0,0,0];


        function calc_rate_kad(){
            for(var i=0;i<1;i++){//一旦エリアのみ
                kill_average_all[i]=(kill_count_win[i]+kill_count_lose[i])/(win_count[i]+lose_count[i]);
                kill_average_win[i]=kill_count_win[i]/win_count[i];
                kill_average_lose[i]=kill_count_lose[i]/lose_count[i];

                assist_average_all[i]=(assist_count_win[i]+assist_count_lose[i])/(win_count[i]+lose_count[i]);
                assist_average_win[i]=assist_count_win[i]/win_count[i];
                assist_average_lose[i]=assist_count_lose[i]/lose_count[i];

                death_average_all[i]=(death_count_win[i]+death_count_lose[i])/(win_count[i]+lose_count[i]);
                death_average_win[i]=death_count_win[i]/win_count[i];
                death_average_lose[i]=death_count_lose[i]/lose_count[i];
            }
        }

        function print_sum(){
            var elm=document.getElementById('winrate');
            elm.innerHTML="<h3>ルール：ガチエリア</h3>";
            elm.innerHTML="<p>全体キル数:"+kill_average_all[0]+" 全体アシスト数:"+assist_average_all[0]+" 全体デス数:"+death_average_all[0]+"</p>";
            elm.innerHTML="<p>勝利時キル数:"+kill_average_all[0]+" 勝利時アシスト数:"+assist_average_all[0]+" 勝利時デス数:"+death_average_all[0]+"</p>";
            elm.innerHTML="<p>敗北時全体キル数:"+kill_average_all[0]+" 敗北時アシスト数:"+assist_average_all[0]+" 敗北時デス数:"+death_average_all[0]+"</p>";    
        }
    </script>
    <p id="winrate"></p>
    {% for result in df %}
        {% for i in result['data']['vsHistoryDetail']['myTeam']['players'] %}
            <script>
                function sum_result(){
                    if('ガチエリア'==result['data']['vsHistoryDetail']['vsRule']['name']){
                        if('WIN'==result['data']['vsHistoryDetail']['judgement']){
                            win_count[0]+=1;
                            kill_count_win[0]+=result['data']['vsHistoryDetail']['myTeam']['players']['result']['kill'];
                            assist_count_win[0]+=result['data']['vsHistoryDetail']['myTeam']['players']['result']['assist'];
                            death_count_win[0]+=result['data']['vsHistoryDetail']['myTeam']['players']['result']['death'];
                        } else {
                            lose_count[0]+=1;
                            kill_count_lose[0]+=result['data']['vsHistoryDetail']['myTeam']['players']['result']['kill'];
                            assist_count_lose[0]+=result['data']['vsHistoryDetail']['myTeam']['players']['result']['assist'];
                            death_count_lose[0]+=result['data']['vsHistoryDetail']['myTeam']['players']['result']['death'];
                        }
                    }
                }

                sum_result();
            </script>
        {% endfor %}
    {% endfor %}
    <script>
        calc_rate_kad();
        print_sum();
    </script>

</body>

</html>