<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
        <script src="https://kit.fontawesome.com/a69c380e0a.js" crossorigin="anonymous"></script>
        <title>ITS_Json_Information</title>
    </head>
    <body>

        <!-- toggle section -->
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fa-solid fa-bars" id="hambargerBtn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>

        <!-- sidebar section -->
        <div class="sidebar">
            <header><a href="{{url_for('Home')}}">Home</a></header>
            <dl><dt>Schedule</dt>
                <ul>
                    <li><a href="{{url_for('Home')}}">ナワバリバトル</a></li>
                    <li><a href="#">バンカラマッチ</a></li>
                    <li><a href="#">サーモンラン</a></li>
                </ul>
            </dl>
            <dl><dt>戦績分析ツール</dt>
                <ul>
                    <li><a href="{{url_for('show_json')}}">対戦履歴</a></li>
                    <li><a href="#">勝率</a></li>
                    <li><a href="#">名前検索</a></li>
                    <li><a href="#">チーム別勝率</a></li>
                    <li><a href="#">時間帯別勝率</a></li>
                </ul>
            </dl>
        </div>

        <script>
            var kill_sum=0;
            var death_sum=0;
            var assist_sum=0;
            var win_sum=0;
            var lose_sum=0;
            var kill_rate,death_rate,assist_rate;
            var game_sum=0;

            

            function print_sum(){
                var elm = document.getElementById('result_sum')
                elm.innerHTML="<p>総試合数:"+game_sum+"</p>"
                elm.innerHTML+="<p>キル数:"+kill_sum+" デス数:"+death_sum+" アシスト数:"+assist_sum+"</p>";
                
                
            }
        </script>
        <div id="main">
            <p>{{df[124]['data']['vsHistoryDetail']['myTeam']['players'][2]['name']}}'s Buttle Result</p>
            <p id="result_sum">Hello</p>
            
            {% for result in df %}
            
                <p>team member</p>
                {% for i in result['data']['vsHistoryDetail']['myTeam']['players'] %}
                    
                    <p>{{i['byname']}} {{i['name']}}:{{i['weapon']['name']}}</p>
                    <p>{{i['result']['kill']}}キル {{i['result']['death']}}デス {{i['result']['assist']}}アシスト</p>
                    <script>
                        
                        function sum_result(){
                            game_sum+=1;
                            kill_sum += {{i['result']['kill']}};
                            death_sum += {{i['result']['death']}};
                            assist_sum += {{i['result']['assist']}};
                            

                            
                        }

                        sum_result();
                    </script>
                
                {% endfor %}
                <p>Mode:{{result['data']['vsHistoryDetail']['vsMode']['mode']}} Rule:{{result['data']['vsHistoryDetail']['vsRule']['name']}} Stage:{{result['data']['vsHistoryDetail']['vsStage']['name']}}</p>
                
                <p><img src="{{result['data']['vsHistoryDetail']['vsStage']['image']['url']}}"></p>

                <p>Judgement:{{result['data']['vsHistoryDetail']['myTeam']['judgement']}}</p>
                
            
                <hr>
            {% endfor %}

            <script>
                
                calc_rate();
                
                print_sum();    
            </script>
        </div>
    </body>
</html>